[Unit]
Description=Jackie
After=jackd.service
Requires=jackd.service

[Service]
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
SupplementaryGroup=audio
ExecStart=/usr/bin/python3 -u jackie.py
WorkingDirectory=/opt/jackie
Restart=always
RestartSec=10
User=lukas2511
Group=lukas2511

[Install]
WantedBy=default.target
