ACTION=="add", DEVPATH=="/devices/**/sound/card?", PROGRAM="/root/udev/soundcard-name.sh", ATTR{id}="%c{1}"
ACTION=="add", DEVPATH=="/devices/**/sound/card?/midi?", PROGRAM="/root/udev/midi-name.sh", SYMLINK+="%c{1}"
ACTION=="add", DEVPATH=="/devices/**/sound/card?/midi", PROGRAM="/root/udev/midi-name.sh", SYMLINK+="%c{1}"
